.black { fill: #303030; }
.blue { fill: #4169E1; }
.bright { fill: #FFEC8B; }
.bronze { fill: #CD7F32; }
.copper { fill: #b87333; }
.dark { fill: #191970; }
.green { fill: #006400; }
.night { fill: #303030; }
.olive { fill: #556b2f; }
.gold { fill: #FFD700; }
.purple { fill: #800080; }
.red { fill: #FF0000; }
.silver { fill: #C0C0C0; }
.violet { fill: #8A2BE2; }
.yellow { fill: #FAFAD2; }
.white { fill: #F5FFF5; }

