.alder { stop-color: #2d572c; }
.amber { stop-color: #FFBF00; }
.apple { stop-color: #2d572c; }
.ashen { stop-color: #b2beb5; }
.asphodel { stop-color: #E9EDF0; }
.black { stop-color: #303030; }
.black-poplar { stop-color: #2d572c; }
.blood { stop-color: #66000; }
.blue { stop-color: #26619c; }
.bright { stop-color: #f3f5f4; }
.bronze { stop-color: #CD7F32; }
.clover { stop-color: #68b374; }
.copper { stop-color: #b87333; }
.cypress { stop-color: #2d572c; }
.dark { stop-color: #191970; }
.darkness { stop-color: #000000; }
.fig { stop-color: #2d572c; }
.glittering { stop-color: #e6e8fa; }
.gold { stop-color: #FFD700; }
.grape { stop-color: #717752; }
.green { stop-color: #006400; }
.grey { stop-color: #D6C4C2; }
.honey { stop-color: #fee0a5; }
.horn { stop-color: #e7dfce; }
.indigo { stop-color: #4b0082; }
.iron { stop-color: #3a3c40; }
.ivory { stop-color: #fffff0; }
.milk { stop-color: #fdfff5; }
.misty { stop-color: #002c2c; }
.moonlight { stop-color: #c2c5cc; }
.oaken { stop-color: #baa48a; }
.olive { stop-color: #556b2f; }
.pale { stop-color: #f2f0e6; }
.pear { stop-color: #2d572c; }
.purple { stop-color: #800080; }
.red { stop-color: #FF0000; }
.rose { stop-color: #efd6da; }
.sandy { stop-color: #f8f0a4; }
.shadow { stop-color: #141414; }
.shining { stop-color: #edebdd; }
.silver { stop-color: #C0C0C0; }
.silver-fir { stop-color: #2d572c; }
.skin { stop-color: #F1C27D; }
.smoky { stop-color: #9a8c76; }
.starlight { stop-color: #4d5f7a; }
.sunlight { stop-color: #ecbd2c; }
.violet { stop-color: #8A2BE2; }
.white { stop-color: #F5FFF5; }
.wine-dark { stop-color: #4b0e1d; }
.yellow { stop-color: #FAFAD2; }

