.alder { fill: #2d572c; }
.amber { fill: #FFBF00; }
.apple { fill: #2d572c; }
.ashen { fill: #b2beb5; }
.asphodel { fill: #E9EDF0; }
.black { fill: #303030; }
.black-poplar { fill: #2d572c; }
.blood { fill: #66000; }
.blue { fill: #26619c; }
.bright { fill: #f3f5f4; }
.bronze { fill: #CD7F32; }
.clover { fill: #68b374; }
.copper { fill: #b87333; }
.cypress { fill: #2d572c; }
.dark { fill: #191970; }
.darkness { fill: #000000; }
.fig { fill: #2d572c; }
.glittering { fill: #e6e8fa; }
.gold { fill: #FFD700; }
.grape { fill: #717752; }
.green { fill: #006400; }
.grey { fill: #D6C4C2; }
.honey { fill: #fee0a5; }
.horn { fill: #e7dfce; }
.indigo { fill: #4b0082; }
.iron { fill: #3a3c40; }
.ivory { fill: #fffff0; }
.milk { fill: #fdfff5; }
.misty { fill: #002c2c; }
.moonlight { fill: #c2c5cc; }
.oaken { fill: #baa48a; }
.olive { fill: #556b2f; }
.pale { fill: #f2f0e6; }
.pear { fill: #2d572c; }
.purple { fill: #800080; }
.red { fill: #FF0000; }
.rose { fill: #efd6da; }
.sandy { fill: #f8f0a4; }
.shadow { fill: #141414; }
.shining { fill: #edebdd; }
.silver { fill: #C0C0C0; }
.silver-fir { fill: #2d572c; }
.skin { fill: #F1C27D; }
.smoky { fill: #9a8c76; }
.starlight { fill: #4d5f7a; }
.sunlight { fill: #ecbd2c; }
.violet { fill: #8A2BE2; }
.white { fill: #F5FFF5; }
.wine-dark { fill: #4b0e1d; }
.yellow { fill: #FAFAD2; }

